<header>
  <div id="brand">CloudInformationSystem</div>
  <div id="nav"></div>
</header>

<section class="recoverSlogan">
  <h1>Join to our community and say your storing data troubles GOOD BYE!!</h1>
</section>
<section class="recoverSection">
  <form [formGroup]="emailToRecoverPassword" (submit)="submit()">
    <div class="form-control">
      <input type="text" class="error-occured" id="email" formControlName="email" placeholder="Enter your email"/><br/>
      <p *ngIf="invalidEmailToRec()" class="help-block">The field is required</p>
    </div>

    <input type="submit" class="submitLog" value="Recover"/>
  </form>
</section>
