<header>
  <div id="brand">CloudInformationSystem</div>
  <div id="nav"></div>
</header>

<section class="registerSlogan">
  <h1>Join to our community and say your storing data troubles GOOD BYE!!</h1>
</section>

<ng-template [ngIf]="!registered">
  <section class="registerSection">
    <form [formGroup]="newUser" (submit)="registerNewUser()">
      <div class="form-control">
        <input type="text" class="error-occured" name="" id="firstName" [ngClass]="{'error-occured': invalidFirstName()}" formControlName="firstName" placeholder="First name"/>
        <p *ngIf="invalidFirstName()" class="help-block">Invalid data</p>
      </div>

      <div class="form-control">
        <input type="text" class="error-occured" name="" id="lastName" [ngClass]="{'error-occured': invalidLastName()}" formControlName="lastName" placeholder="Last name"/>
        <p *ngIf="invalidLastName()" class="help-block">Invalid data</p>
      </div>

      <div class="form-control">
        <input type="text" class="error-occured" name="" id="email" [ngClass]="{'error-occured': invalidEmail()}" formControlName="email" placeholder="E-mail address"/>
        <p *ngIf="invalidEmail()" class="help-block">Invalid data</p>
      </div>

      <div class="form-control">
        <input type="text" class="error-occured" name="" id="username" [ngClass]="{'error-occured': invalidUsername()}" formControlName="username" placeholder="Choose your username"/>
        <p *ngIf="invalidUsername()" class="help-block">Invalid data</p>
      </div>

      <div class="form-control">
        <input type="password" class="error-occured" name="" id="password" [ngClass]="{'error-occured': invalidPassword()}" formControlName="password" placeholder="Set up the password" pattern="[a-zA-Z0-9]*"/><i class="fas fa-eye" (click)="uncoverPassword()"></i>
        <p *ngIf="invalidPassword()" class="help-block">Invalid data</p>
      </div>

      <div class="form-control">
        <input type="password" class="error-occured" name="" id="repeatPassword" [ngClass]="{'error-occured': invalidPassword()}" placeholder="Repeat your password"/><i class="fas fa-eye" (click)="uncoverPassword()"></i>
        <p *ngIf="invalidPassword()" class="help-block">Invalid data</p>
      </div>

      <input type="submit" class="submitReg" value="Sign up!"/>
    </form>

  </section>

</ng-template>

<ng-template [ngIf]="registered">
  <section class="registerSection">
    <h3>
      You have just been registered in CloudInformationSystem. Check your E-mail to activate your account.
    </h3>
  </section>
</ng-template>


