header {
  width:100%;
  height:10vh;
  background-color: #efefef;
}

#brand {
  margin-left:8vw;
  width:10vw;
  height:10vh;
  line-height: 10vh;
  font-family: 'Shippori Antique B1', sans-serif;
  color:#000080;
  font-size: 1.5em;
}

.registerSlogan {
  width: 50vw;
  margin-left: 6vw;
  font-family: 'Titillium Web', sans-serif;
  margin-right: 2vw;
  height:70vh;
  float: left;
  font-size: 1.7em;
}

.registerSection {
  width:40vw;
  margin-top: 7vh;
  height:60vh;
  float: left;
}

.form-control {
  height: 10vh;
  width:100%;
}

.error-occured {
  border:2px solid red;
}

input {
  font-family: 'Titillium Web', sans-serif;
  border-radius: 5px;
  width: 50%;
  height:5vh;
}

.fas {
  font-size: 1.4em;
  margin-left: 1vw;
  line-height: 5vh;
  cursor: pointer;
}

.submitReg {
  width:40%;
  height: 5vh;
  line-height: 4vh;
  border: 1px solid darkblue;
  background-color: cornflowerblue;
  font-family: 'Titillium Web', sans-serif;
  color: white;
  font-size: 1.2em;
  border-radius: 5px;
  margin-left: 2.5vw;
  cursor: pointer;
}

p {
  margin-block-start: 0 !important;
  margin-block-end: 1vh !important;
  margin-left: 2vw !important;
  color:red;
}
