<header>
  <div id="brand">CloudInformationSystem</div>
  <div id="nav">
    <div class="header-nav-opt">
      <!--<mat-icon>people</mat-icon>-->
    </div>
    <div class="header-nav-opt">
      <!--<mat-icon>chat</mat-icon>-->
    </div>
    <div class="header-nav-opt">
      <!--<mat-icon>notifications</mat-icon>-->
    </div>
    <div class="header-nav-opt profile-name">
      <p>{{userName}}</p>
      <div class="profile-avatar">
        <img src='./../../avatar.png'>
      </div>
    </div>
    <div class="header-nav-opt menu">
      <!--<mat-icon>arrow_drop_down</mat-icon>-->
    </div>
  </div>
</header>

<div class="home-menu">
  <ul>
    <li routerLink="/dashboard/notes">Notes</li>
    <li routerLink="/dashboard/files">Files</li>
    <li routerLink="/dashboard/received">Received</li>
  </ul>
</div>

<aside class="chat-list"></aside>

<section>
  <router-outlet></router-outlet>
</section>



